body {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; */
  font-family: calibri;
  background-color: #FFF9FF;
  margin: 0;
}

.main {
  padding: 50px;
  /* box-shadow: 0 5px 10px #989898; */
  border-radius: 5px;
  height: 922.625px;
  width: 370.219px;
  margin: 100px auto;
}

.title {
  margin-top: 0;
  text-align: center;
  margin-bottom: 50px;
}

.title a {
  text-decoration: none;
  color: black;
}

.month {
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.9rem;
  font-weight: 600;
  -webkit-appearance: none;
  padding: 1px 8px;
  border-radius: 4px;
}

.month-container {
  text-align: center;
}

.month:focus {
  outline: 0;
}

.input-group {
  text-align: center;
}

.form-control:focus {
  outline: 0;
}

.balance {
  margin-top: 0;
  margin-bottom: 30px;
}

.balance-title {
  margin-bottom: 0;
  margin-top: 50px;
}

.datepicker {
  text-align: center;
}

input {
  height: 25px;
  border: 1px solid #CBCBCB;
  outline: 0;
  border-radius: 2px;
  font-size: 1rem;
  padding-left: 10px;
}

.submit {
  font-size: 1.2rem;
  padding: 10px 0;
  width: 100px;
  cursor: pointer;
  border: none;
  background-color: #0074FF;
  color: white;
  box-shadow: 0 1px 3px #828F9E;
  border-radius: 5px;
}

.submit:focus {
  outline: 0;
}

.submit:active {
  transform: scale(0.99);
}

.submit:hover {
  background-color: #005CC9;
}

.money {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border-radius: 1px;
  box-shadow: 0 1px 4px #989898;
  padding: 20px 0;
}

.money h4 {
  font-size: 1.1rem;
  margin-bottom: 0;
  margin-top: 0;
}

.income {
  padding: 0 50px;
  border-right: 1px solid #CBCBCB;
}

.money-income {
  font-size: 1.4rem;
  margin-top: 10px;
  color: #08FF00;
  margin-bottom: 0;
}

.outcome {
  padding: 0 50px;
}

.money-outcome {
  font-size: 1.4rem;
  margin-top: 10px;
  color: #FF1616;
  margin-bottom: 0;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 480px;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}
.scroll::-webkit-scrollbar-track {
  background: #FF1616;
}
.scroll::-webkit-scrollbar-thumb {
  background: #08FF00;
}

.transactions h2 {
  margin-bottom: 5px;
  margin-top: 20px;
}

.t-income {
  box-shadow: 0 0 4px #828F9E;
  border-radius: 2px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 5px 40px 10px 0;
  position: relative;
}

.t-income span {
  font-size: 1.2rem;
  padding: 10px 10px;
  color: #4E4E4E;
}

.t-income.green {
  border-left: 5px solid #08FF00;
}

.t-income.red {
  border-left: 5px solid #FF1616;
}

.delete-btn {
  position: absolute;
  right: -35px;
  top: 6.5px;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 5px;
  background-color: #FF1616;
  color: white;
  box-shadow: 0 0 3px #989898;
  cursor: pointer;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: +10;
}

.delete-btn:hover {
  background-color: #D51414;
}

.t-income:hover .delete-btn {
  opacity: 1;
}

.cr {
  font-size: 0.8rem;
  bottom: 10px;
  text-align: center;
  position: static;
}


@media (max-height: 1080px) {
  .main {
    margin-top: 40px;
  }
}

@media (max-height: 800px) {
  .main {
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  .scroll {
    overflow: hidden;
  }

  .main {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .main {
    margin: 20px auto 50px;
    width: 90%;
    padding: 50px 10px;
  }

  .income, .outcome {
    padding: 0 40px;
  }
}

@media (max-height: 600px) {
  .main {
    margin-top: 20px;
  }
}

@media (max-width: 330px) {
  .income, .outcome {
    padding: 0 10px;
  }
}
